{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "Android": "4.4"
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "vue-app", "stage-0"],
      "plugins": ["istanbul"]
    }
  }
}
